body {
    background-color: rgb(39, 39, 39);
}


.row {
  background-color: lightblue;
  justify-content: space-between;
  margin-top: 50%;
}

.the_card {
  height: 200px;
  background-color: lightpink;
  text-align: center;
  padding-top: 35px;
  line-height: 50%;
}

#card_two {
  border-radius: 50%;
}